version: '3.1'

services:

  nginx-proxy:
    image: "tsouhaieb/nginx-sts-man"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{home}}/nginx-production/production.conf:/etc/nginx/conf/nginx.conf"
      - "{{home}}/dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem"
      - "{{home}}/nginxcertificate/etc/letsencrypt/live/{{git_domain}}/fullchain.pem:/etc/letsencrypt/live/{{git_domain}}/fullchain.pem"
      - "{{home}}/nginxcertificate/etc/letsencrypt/live/{{git_domain}}/privkey.pem:/etc/letsencrypt/live/{{git_domain}}/privkey.pem"
      - "{{home}}/nginx-production/site:/data/letsencrypt"
    depends_on:
      - tuleap

  tuleap:
    image: enalean/tuleap-aio
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST={{ git_domain }}
    volumes:
      - ./tuleap-data:/data